{% extends 'web/base.html' %}
{% block content %}
    <h2>Создание статьи</h2>
    <form action='' method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Сохранить</button>
    </form>
{% endblock %}