{% extends 'web/base.html' %}
{% block content %}
    <a href="{% url 'article_add' %}">Добавить статью</a>

    <form action="">
        <b>Фильтры:</b>
        <br>

        {% for field in filter_form %}
            {{ field }}
        {% endfor %}

        <button>Найти</button>
        <button name="export" value="csv">Экспорт в CSV</button>
    </form>

    <ul>
        {% for article in articles %}
        <li style="margin-bottom: 30px">
            <a href="{% url 'one_article' article.id %}"><b>{{ article.title }}</b></a>
            <p>{{ article.user.username }}</p>
            <a href="{% url 'article_delete' article.id %}"><b>Удалить</b></a>
        </li>
        {% endfor %}
    </ul>

    <p>всего найдено {{ total_count }} записей. {{ articles|length }} на этой странице</p>

    <nav>
        {% if articles.has_previous %}
            <a href="?page=1">в начало</a>
            <a href="?page={{ articles.previous_page_number }}">предыдущая страница</a>
        {% endif %}

        страница {{ articles.number }} из {{ articles.paginator.num_pages }}

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">следующая страница</a>
            <a href="?page={{ articles.paginator.num_pages }}">в конец</a>
        {% endif %}
    </nav>
{% endblock %}