{% extends 'web/base.html' %}
{% block content %}
    <h1>Авторизация</h1>
    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Войти</button>
    </form>
{% endblock %}