<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scientific science</title>
</head>
<body>
    <a href="{% url 'main' %}"><h1>Scientific science</h1></a>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        <a href="{% url 'articles' %}">Статьи</a>
        <a href="{% url 'comments' %}">Комментарии</a>
        <a href="{% url 'import' %}">Импорт</a>
        <a href="{% url 'stat' %}">Статистика</a>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                <p>Вы авторизованы как <b>{{user.username}}</b></p>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>