{% extends 'web/base.html' %}
{% block content %}
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li style="margin-bottom: 30px">
                    <p>{{comment.text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Пока комментариев нет</p>
    {% endif %}
{% endblock %}