{% extends 'web/base.html' %}
{% block content %}
    <a href="{% url 'article_edit' article.id %}">Изменить статью</a>
    <p>{{article.title}}</p>
    <p>{{article.text}}</p>
    <hr>
    <p>Комментарии</p>
    <div>
        {% if comments %}
            <div>
                {% for comment in comments %}
                    <p>{{comment.text}}</p>
                {% endfor %}
            </div>
        {% else %}
            <p>Пока комментариев нет</p>
        {% endif %}
    </div>
    <hr>
    <p>Добавить комментарий</p>
    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Добавить</button>
    </form>
{% endblock %}